@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    background-color: #FEFCFB;
   margin: 0 auto;
    text-align: center;
  font-family: 'Volkhov', serif;
  font-weight: 400;
  font-style: normal;
  
}

.nav_menu{
display: flex;
flex-direction: row;    
justify-content: space-between;
align-items: center;
padding: 10px 50px;

width :80%;

}

.nav_logo{
display: flex;
flex-direction: row;
margin-left: 180px;

gap:8px;
font-size: 18px;
font-weight: bolder;

}
.nav_links a{
    text-decoration: none;
   
    margin: 0px 15px;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
     color: #555;
    position: relative;
}

.login {
color: #ff7b2c;
text-decoration: none;
font-weight: 500;
font-size: 14px;
}
.signup_button{
    background-color: #fa7436;
    color: white;
    border: none;
    padding: 10px 18px;
    width:120px;
    height: auto;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
}
button:hover{
    opacity: 0.9;
    transition: 0.3s;
}
.content_section , .thing_header{
    margin: 30px 50px 50px 50px;  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:75px;
    justify-content: center;
    align-items: center;    
}

.text_content,.line{
    text-align: left;
    width: 350px;
    padding-left: 50px;
    font-family: 'Volkhov', serif;
}

.text_content h1, .line h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
}
.text_content p, .line p{
    font-size: 14px;
    color: #6c6767;
    margin-bottom: 30px;
    line-height: 1.6;
     font-weight: 100;
}

.Discover{
    background-color: #ffffff;
    color: #FA7436;
    border: 1.5px solid #FA7436;
    padding: 10px 12px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: bold;
    font-weight:550;
    cursor: pointer;
}

.search_bar{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
font-weight: 100;
margin-left: 350px;
margin-bottom: 80px;
flex-wrap: wrap;
background: #ffffff;
border-radius: 4px;
font-size: 12px;
width: 600px;
height: 50px;
gap:20px;
padding: 20px 20px;
box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
}

.search_bar label{
    font-size: 12px;
    font-weight: 500;
    color:black;
    margin: 0px;
}

.search_bar p{
    margin: 5px 0px 0px 0px;
    font-size: 12px;
    color: #6c6767;
    font-weight: 100;
}
.search_bar span{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0px 10px;
}

.search_bar button{
    background-color: #fa7436;
    color: white;
    border: none;
    padding: 12px 18px;
    width:130px;
    height: auto;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}
.search_bar i{
    margin-left: 5px;
    font-size: 10px;
    color:#fa7436;
}

.things{
    background-color: #F7F8FC;
    margin-bottom: 20px;
    
}
.thing_header{
    padding-top: 100px;

}

.thing_header h1{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: -0.4em; 
}

.thing_header p,.deals_header p ,.plan_header p{
    
    line-height: 1.6;
    font-size: 14px;
    margin-top: 30px;
   text-align: center;
   color: #6c6767;
   font-weight: 100;
    margin-left: -4em; 
   text-indent: 3em;
 
    
}   

.thing_header img{
    margin: top 30px;
}

.thing_cards{
    display: flex;
    flex-direction: row;
   
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin: 30px 50px px 50px;
}
.card1{
    background-color: white;
    width: 240px;
    height: 160px;
    border-radius: 8px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
    padding: 10px;
    text-align: left;
    margin-bottom: 60px;
}

.card1 h4{
    font-size: 16px;
    color: black;
    font-family: Poppins, sans-serif;
    margin-bottom: 10px;
    font-weight:600;
}
.card1 p{
    margin: 5px 0px 0px 0px;
    
    font-size: 12px;
    color: #6c6767;
    font-weight: 100;
    line-height: 1.6;
    
    
}

.deals_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.deal_card1 span {
    display: flex;
    flex-direction: row;
    
    
    
}
.deal_card1{
    background-color: #FEFCFB;
    width: 180px;
    height: 270px;
    border-radius: 8px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
    border: none;
    
}

.deal_card1 h6 {
    font-size: 16px;
    color: black;
    font-family: Poppins, sans-serif;
    margin: 0px 10px 0px 0px;
    font-weight:400;
    text-align: left;
}

.deal_card1 p {
    margin: 5px 10px 0px 10px;
    
    font-size: 12px;
    color: #6c6767;
    font-weight: 100;
    line-height: 1.6;
    text-align: left;
    
    
}

.deal_card1 .rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    gap:15px;
}
.deal_card1 .star{
    color: #6c6767;
    font-size: 12px;
}

.deal_card1 .price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.deal_card1 .old{
    text-decoration: line-through;
    color: #6c6767;
    font-size: 12px;
    font-weight: 300;
    padding-top: 5px;
    text-indent: 2px;
}

.deal_card1 .new{
    border: none;
    background-color: #fa7436;
    color: white;
    margin-right: 8px;
    width: 30px;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 8px;
}

.arrow{
    margin-top: 20px;  
   
}
.arrow a,.arrow_plan a{
    padding: 8px;
    cursor: pointer;
}
.plan{
    background-color: #FEFCFB;
}
.plan_header{
    padding-top:90px;


}

.plan_head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.plan_img{
    margin-top: 50px;
}

.arrow_plan{
    text-align: right;
    margin-right: 320px;
    
    
}

.plan_card1{
    background-color: #FEFCFB;
    width: 220px;
    height: 270px;
    border-radius: 8px;
     
    box-shadow: rgba(250, 116, 54, 0.1) 0px 8px 24px; 
    border: none;
}

.plan_card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.plan_card1 .image{
   margin:0px;
   width: 220px;
}

.plan_card1 .price{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 12px 0px 12px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
}

.plan_card1 h6 {
    font-size: 16px;
    color: black;
    font-family: Poppins, sans-serif;
    margin:0px;
    padding: auto;
    font-weight:500;
    text-align: left;
}

.plan_card1 .rating{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px 12px 0px 12px;
    gap:40px;
    margin-top: 5px;
    font-weight: 100;
    color: #6c6767;
    font-size: 10px;
 
}

.plan_card1 .star{
   text-indent: 50px;
   padding-top: 8px;
}

.feedback{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F7F8FC;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    margin-left: 60px;
    position: relative;
    text-align: justify;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.arrow_feedback a{
    padding: 15px;
}

.feedback_header p{
    font-size: 14px;
    color: #6c6767;
    font-weight: 100;
    line-height: 1.6;
    margin-bottom: 30px;
}


 .feedback_content{
width: 35%;
height: auto;
position: relative;


 }
.feedback_content .fcard1{
    background: white;
padding: 8px 8px 9px 8px;
border-radius: 12px;
box-shadow: 0 20px 40px rgba(0,0,0,0.1);
position: relative;
z-index: 2;
}
.feedback_content .fcard1 .image{
width: 60px;
height: 60px;
border-radius: 50%;
position: absolute;
top: -60px;
left: 30px;
}
.fcard1 p{
    margin-top: 40px;
color: #555;
line-height: 1.2;
}

.fcard1 h6 ,.fcard2 h6{
    color: black;

font-size: 14px;
margin-bottom: 9px;
}

.fcard1 span{
color: #888;  margin-top:5px;
font-size: 13px;
}


.fcard2{
background: #fff;
padding: 25px;
border-radius: 12px;
position: absolute;
bottom: -90px;
right: -10px;
width: 80%;
line-height: 1.2;
box-shadow: 0 10px 30px rgba(0,0,0,0.08);
z-index: 1;
}

.fcard2 span{
font-size: 13px;
color: #777;

}

.feedback .feed_aero{
    position: absolute;
    top:20px;
    right:80px;
}

.blog{
    background-color: #FEFCFB;
    margin-top: 50px;
}
.blog_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
     flex-wrap: nowrap;
    margin:50px 50px 20px 50px;

}
.blog_card1{
    background-color: #FEFCFB;
    width: 180px;
    height: 280px;
    border-radius: 8px;
    
    
}

.blog_card1 h6 {
    font-size: 12px;
    color: black;
   
    margin: 10px 10px 0px 0px;
    font-weight:400;
    text-align: left;
}

.blog_card1 p {
    margin:0px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding-top:10px;
    padding-bottom:0px;
    color: #6c6767;
    font-weight:350;
    line-height: 1.6;
    text-align: left;
    
    
}   

.footer_header{
    background-color: #ff7b2c;
    margin-left: 300px;
    width: 700px;
    height: 230px;
    border-radius: 8px;
    color: white;
    text-align: center;
    margin-top:50px;
    position: relative;
}

 .foot_tree{
   float:right;
   
}

.foot_head h2{
    font-size: 24px;
    font-weight: 600;
    
    text-align: center;
    font-family: 'Volkhov', serif;
    padding: 40px 70px 20px 70px;
    
}

.foot_head label{
    font-size: 12px;
    color:#777;
    font-weight: 100;
     padding-left: 10px;
     padding-bottom: 5px;
    font-family: 'Volkhov', serif;
   
  
    
}

.foot_head button{
    background-color: #ff7b2c;
    color: #ffffff;
    border: none;
    
    width:100px;
    height: 32px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    margin:0px;
   
}

.foot_head button:hover{
    background-color: #ffffff;
    color: #ff7b2c;
    border: 1.5px solid #ffffff;
    transition: 0.3s;
}
.foot_input{
   
    background-color: #ffffff;
    border-radius: 6px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    margin-left: 200px;
    height: 32px;
    padding: 4px;

}

.message{
    width: 16px;
    height: 12px;
    margin-right: 5px;
}

.foot_curve{
    position: absolute;
    width: 200px;
    left:0px;
   
    bottom:0px;
 
}

.footer_content{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap:180px;
    margin-left:0px;
    margin-bottom: 50px;
    
}

.footer_content .foot_links{
    display: flex;
    flex-direction: row;
    gap:25px;
   
    
}
.footer_content .link1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}
.footer_content .foot_logo{
display: flex;
flex-direction: row;
gap:8px;
font-size: 16px;
font-weight: 500;

margin-top: 60px;

}

.footer_content .footer_logo p ,.social_media{
    font-size: 12px;
    color: #6c6767;
    margin-top: 10px;
    line-height: 1.6;
    font-weight: 100;
    text-align: left;
    
    padding-bottom: 20px;
}

.footer_content .link1 a{
    font-size: 12px;
    color: #6c6767;
    text-decoration: none;
    padding: 8px 0px;
    font-weight: 100;
}

.footer_content .link1 h4{
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: left;
}

.copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 300px;
    margin-bottom: 20px;
    font-size: 11px;
    color: #6c6767;
    font-weight: 100;

}